#simple-menu{
  display:inline-block;
  float:left;
  color:white;
  padding-top: 5px;
  font-size:15px;
  text-decoration:none;
  width:40px;
}
.menu{
  display:none;
}
#menuContent{
  display:none;
}
/*.logo{
  height: 30px;
  float:left;
  padding-left:10px;
}*/

.info-bar{
	width: 200%;
}
.info-bar .left.section .info-content{
  /*float: left;*/
}
.grippy-circles{
  display:block;
  background-image:url('/grippyCirclefp.png');
  background-repeat:repeat-y;
  position:absolute;
  height: 100%;
  width: 10px;
  min-height:60px;
  top:0px;
  left: 49%;
  float: right;
}